@import url(https://fonts.googleapis.com/css?family=Maven+Pro);

body {
  font-family: "Maven Pro", sans-serif;
}

h1{
  font-size: 62px;
}

h2{
  color: #6DA398;
  width:50%;
  float: left;
  margin-left: 30px;
}

ul{
  font-weight: 900;
  width:50%;
  float: left;
  margin-right: 30px;
}

#divsection1{
  width:50%;
  float: left;
}

#divsection2{
  width: 50%;
  float:left;

}
